<%- include('./partials/header') %>



<div class="container" style="padding-top: 150px; padding-bottom: 70px;">


<img src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" class="img-fluid" alt="Responsive image">
<div class="post-meta"> <span><%= post.postdate%></span></div>
<div class="single-post">
                  
        <h1 class="mb-5"><%= post.title%></h1>
        <p style="font-size: large;"><span class="firstcharacter"></span><%= post.post%></p>

</div>
</div>


<%- include('./partials/footer') %>